<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
    <form th:method="POST" th:action="@{'/update?id=' + ${user.id}}" th:object="${user}">
        <p>Id: <span th:text="${user.getId}"></span></p>
        <label for="name">Enter new name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
        <br/>
        <label for="gender">Choose a new gender: </label>
        <select th:field="*{gender}" id="gender">
        <option selected="selected" th:value="male">male</option>
        <option th:value="female">female</option>
        </select>
        <br/>
        <label for="age">Enter new age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
        <br/>
        <input type="submit" value="Update"/>
    </form>
    <br/>
    <hr/>
    <a href="/"><button type="button">Back to User list</button></a>

</body>
</html>